<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/opportunityIndex.css">

<h1 class="heading mt-3">Explore All opportunities here</h1>
<a href="/opportunity/new" class="mx-3">List A New opportunity</a>
<div class="container mt-3">
<% for (let opp of opportunity){ %>
    <div class="card mb-3 myCard">
            <!-- <div class="col-md-4">
                <img class="img-fluid" src="<%=opp.image %>" alt="">
            </div> -->

                <div class="card-body">
                    <h5 class="card-title myTitle"><%= opp.title %></h5>
                    <hr>
                    <p class="card-text description"><%=opp.description%></p>
                    <p class="card-text">
                        <small class="text-muted"> Location: <%=opp.location%> </small>
                    </p>
                    <a href="/opportunity/<%=opp._id %>" class="btn btn-primary details-button">View Details</a>
                </div>
    </div>
<% } %>
</div>