<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/profile.css">
   

<h1 class="heading">Welcome to your Profile</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col">

<!-- <div class="animatedLeft">
 
</div> -->
</div>
<div class="col">


<!-- <div class="container"> -->
<div class="card myCard">

  
  <div class="list-group list-group-light myListGroup">
    
    <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">
      
      <span class="cardHeading"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
      </svg> Personal Details:</span></a>
   
    
     <ul class="myList">
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">
      <li>
        <span class="cardSubHeadingLeft">Name:</span> 
        <span class="cardSubHeadingRight"><%=user.name%></span> 
      </li></a>

      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">

      <li>
        <span class="cardSubHeadingLeft">Username:</span> 
        <span class="cardSubHeadingRight"><%=user.username%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-primary">

      <li>
        <span class="cardSubHeadingLeft">Email:</span> 
        <span class="cardSubHeadingRight"><%=user.email%></span> 
      </li></a>

     </ul>
    
    </a>


    <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success">

      <span class="cardHeading"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </svg>  Educational Details:</span></a>

     <ul class="myList">
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success">
      <li>
        <span class="cardSubHeadingLeft">College:</span> 
        <span class="cardSubHeadingRight"><%=user.college%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success">
      <li>
        <span class="cardSubHeadingLeft">Course:</span> 
        <span class="cardSubHeadingRight"><%=user.course%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success">
      <li>
        <span class="cardSubHeadingLeft">Year:</span> 
        <span class="cardSubHeadingRight"><%=user.year%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-success">
      <li>
        <span class="cardSubHeadingLeft">Branch:</span> 
        <span class="cardSubHeadingRight"><%=user.branch%></span> 
      </li></a>

     </ul>
    
    </a>



    <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info">
      
      <span class="cardHeading"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
      </svg>  Contact Details:</span></a>
     <ul class="myList">
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info">
      <li>
        <span class="cardSubHeadingLeft">Contact No:</span> 
        <span class="cardSubHeadingRight"><%=user.contact%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info">
      <li>
        <span class="cardSubHeadingLeft">Linkedin Profile:</span> 
        <span class="cardSubHeadingRight"><%=user.linkedinUrl%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info">

      <li>
        <span class="cardSubHeadingLeft">Contact Link1:</span> 
        <span class="cardSubHeadingRight"><%=user.link1%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info">
      <li>
        <span class="cardSubHeadingLeft">Contact Link2:</span> 
        <span class="cardSubHeadingRight"><%=user.link2%></span> 
      </li>
      </a>

     </ul>
    
    </a>
    <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning">
      
      <span class="cardHeading"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
      </svg> Skill Set Details:</span></a>

     <ul class="myList">
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning">
      <li>
        <span class="cardSubHeadingLeft">Description:</span> 
        <span class="cardSubHeadingRight"><%=user.description%></span> 
      </li></a>
      <a class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-warning">
      <li>
        <span class="cardSubHeadingLeft">Skill Set:</span> 
        <span class="cardSubHeadingRight"> 
          <% user.skillSet.forEach(function(skill) { %>
          <li><%= skill %></li>
        <% }); %>
      </span> 
      </li></a>
     </ul>
    
    </a>
  </div>
</div>
</div>

<div class="col">
  <!-- <div class="animatedRight">
    
  </div> -->

</div>
</div>
</div>


<!-- </div> -->


